*{
    font-family: 'Roboto', sans-serif;
    font-style: 'Roboto';
}

body{

    background: black;
}

header{

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 30px;

    height: 80px;
    background-color: rgb(170, 29, 29);
}

#logo{

    font-weight: bold;
    font-size: 50px;

    color: white;
}

#label-preLogin{

    color: white;
}

#botao-login{

    font-weight: bold;
    background-color: rgb(188, 187, 187);

    border-style: none;
    width: 150px;
    height: 30px;
    border-radius: 15px;
}

#botao-login:hover{

    color: white;
    border: 0.5px solid white;
    cursor: pointer;

}

#botao-login:active{

    opacity: 0.6;    
}

#botao-login a{

    color: black;
    text-decoration: none;
}

#botao-login a:hover{
    color:beige
}

#form-cadastro{

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;

    height: 380px;
    width: 300px;
}

.titulo-cadastro{
    font-weight: bold;
    letter-spacing: 0.100em;
    margin: 0px;
}

.inputs{

    border: none;
    background-color: rgb(170, 29, 29);

    padding-left: 15px;
    width: 280px;
    height: 50px;
}

.inputs::placeholder{

    color: azure;
}

#botaoInscricao{
    font-weight: bold;

    background-color: rgb(188, 187, 187);

    border-style: none;
    width: 150px;
    height: 40px;
    border-radius: 15px;
}

#botaoInscricao:hover{

    color: white;
    border: 0.5px solid white;
    cursor: pointer;
}

#botaoInscricao:active{

    opacity: 0.6; 
}

/* estilizacão pag. login */

#form-login{

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 100px auto;

    height: 250px;
    width: 300px;
}



#botaoLogin{
    font-weight: bold;

    background-color: rgb(188, 187, 187);

    border-style: none;
    width: 150px;
    height: 40px;
    border-radius: 15px;
}

#botaoLogin:hover{

    color: white;
    border: 0.5px solid white;
    cursor: pointer;
}

#botaoLogin:active{

    opacity: 0.6; 
}

/* pag. principal */

.pag-principal{
    display: flex;
}

.user-identificacao{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img{

    border: 0.7px solid whitesmoke;
    border-radius: 50%;
    margin-right: 15px;
    width: 70px;
    height: 70px;
}

.user-name{

    letter-spacing: 0.07em;

    color: whitesmoke;
    font-weight: 700;
    font-size: 20px;
}

.botao-logout{
    font-weight: bold;

    background-color: rgb(188, 187, 187);

    border-style: none;
    width: 150px;
    height: 40px;
    border-radius: 15px;
}

.botao-logout:hover{

    color: white;
    border: 0.5px solid white;
    cursor: pointer;
}

.botao-logout:active{

    opacity: 0.6; 
}

.botao-logout a{

    color: black;
    text-decoration: none;
}

.botao-logout a:hover{
    color:beige
}

#main-principal{

    background: rgb(188, 187, 187);
    width: 80%;
    height: 100%;
    margin: 0px auto;
    
    padding: 15px;
    padding-top: 30px;
}

.postagem{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100%;
    margin: 0px auto;
    padding-top: 8px;
    box-shadow: 1.5px 1.5px 3px 1.5px;
}

.postagem textarea{
    padding: 10px;
    border-radius: 5px;
    border: 0.3px solid gray;
    height: 100px;
    width: 99%;
}

.faixa-botao-postar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 4px 8px;
}

.faixa-botao-postar button{
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(188, 187, 187);
    border-style: none;
    width: 40px;
    height: 40px;
    border-radius: 15px;
}

.faixa-botao-postar button:hover{

    color: white;
    border: 0.5px solid white;
    cursor: pointer;
}

.faixa-botao-postar button:active{

    opacity: 0.6; 
}

/* pag. principal postagens */



.lista-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    width: 100%;
    
}

.item-lista-post{
    background: rgb(170, 29, 29);
    box-shadow: 1.5px 1.5px 3px 1.5px;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.item-lista-post img{

    width: 65px;
    height: 65px;
    border-radius: 50%;
}

.foto{
    min-width: 80px;
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}

.texto{

    padding-left: 15px;
    width: 85%;
    color: beige;
}

.texto h4{

    font-weight: bold;
    font-size: 20px;
    color: whitesmoke;
    margin-bottom: 10px;
}

.texto p{

 padding-left: 0px;
}

.botoes{

    color: rgb(188, 187, 187);;

    display: flex;
    flex-direction: column;
    align-items:flex-end ;
    justify-content: flex-end;
    margin-bottom: 10px;

    width: 8%;
}

.post-botoes{

    margin-bottom: 5px;
}

.editar-post{
    color: rgb(5, 72, 5);
    cursor: pointer;
    font-weight: bolder;
}

.deletar-post{
    color: rgb(55, 5, 102);
    cursor: pointer;
    font-weight: bolder;
}

/* botoes de troca de pag. */
#botoes-pag button{
    font-weight: bold;
    font-size: 15px;
    background-color: rgb(188, 187, 187);
    width: 100px;
    height: 22px;
    border-style: none;
    border-radius: 8px;
    border: 0.5px solid black;
}

#botoes-pag button:hover{

    color: white;
    border: 0.5px solid white;
    cursor: pointer;
}

#botoes-pag button:active{

    opacity: 0.6; 
}

/* ----- */

.edicao{
    
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: solid gray;
    border-radius: 5px;
    width: 100%;
    margin: 0px auto;
    padding-top: 8px;
}

.edicao textarea{
    padding: 10px;
    border-radius: 5px;
    border: 0.3px solid gray;
    height: 100px;
    width: 99%;
}

.faixa-botao-editar{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 4px 8px;
}

.faixa-botao-editar button{
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(188, 187, 187);
    border-style: none;
    width: 100px;
    height: 30px;
    border-radius: 9px;
}

.faixa-botao-editar button:hover{

    color: white;
    border: 0.5px solid white;
    cursor: pointer;
}

.faixa-botao-editar button:active{

    opacity: 0.6; 
}